
header, section, footer{
  animation:opacityAnimation 3s forwards;
}

.loader{
    display: flex;
    justify-content: center;
    animation: loaderAnimation 3s forwards;


    .loading {
        display: block;
        border: 12px solid #f3f3f3; /* Light grey */
        border-top: 12px solid black; /* Blue */
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 3s linear forwards;
      }
}


@keyframes spin {
  0% { transform: rotate(0deg);}
  99%{
    opacity: 99;
  }
  100% {
    transform: rotate(1080deg);
    opacity: 0;}
}

@keyframes loaderAnimation{
    0% {width: auto; height: auto;
      padding-top: 30%;}
    99%{
        width: auto; height: auto;
        padding-top: 30%;
    }
    100% {
        width: 0; height: 0;}
}

@keyframes opacityAnimation {
    0% {visibility: hidden;}
    99%{
        visibility: hidden;
    }
    100% {
      visibility: visible}
}