body {
  background-color: white;
}
body .imgRestaurantMenu {
  position: relative;
  width: 100%;
}
body .menu {
  position: relative;
  z-index: 3;
  margin-top: -40px;
  border-radius: 20px 20px 0px 0px;
  background-color: rgb(241, 238, 238);
  padding-bottom: 20px;
}
body .menu .menuTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body .menu .menuTitle .hearts {
  position: relative;
}
body .menu .menuTitle .hearts .heart {
  color: gray;
  position: absolute;
  top: 30px;
  right: 5px;
}
body .menu .menuTitle .hearts .heartPurple {
  opacity: 0;
  position: absolute;
  color: #9356DC;
  top: 30px;
  right: 5px;
}
body .menu .menuTitle .hearts .heartPurple:hover {
  -webkit-animation: heartOpacity 0.5s forwards;
          animation: heartOpacity 0.5s forwards;
}
body .menu .mealType {
  position: relative;
  height: auto;
  padding-left: 20px;
}
body .menu .mealType .borderLine {
  width: 45px;
  background-color: #99E2D0;
  height: 2px;
  position: absolute;
  top: 25px;
}
body .menu .menuMeal {
  padding: 0px 20px 0px 20px;
}
body .menu .menuMeal .mealCard {
  margin-top: 10px;
  border-radius: 15px;
  position: relative;
  background-color: white;
  opacity: 0;
}
body .menu .menuMeal .mealCard .mealName {
  margin: 0;
  padding: 10px 0px 0px 10px;
  font-weight: bold;
  font-size: 15px;
}
body .menu .menuMeal .mealCard .mealDescription {
  margin: 0;
  padding: 10px 0px 10px 10px;
  font-size: 13px;
  height: 50%;
}
body .menu .menuMeal .mealCard .price {
  position: absolute;
  right: 5%;
  bottom: 15%;
  -webkit-animation: priceAnimationReverted 1.5s forwards;
          animation: priceAnimationReverted 1.5s forwards;
}
body .menu .menuMeal .mealCard .animationMeal {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  border-radius: 0px 15px 15px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  -webkit-animation: removeMenu 1.5s forwards;
          animation: removeMenu 1.5s forwards;
}
body .menu .menuMeal .mealCard .animationMeal .check {
  color: white;
  animation: spin 1.5 reverse;
}
body .menu .menuMeal .mealCard:hover .mealName {
  -webkit-animation: reduceSizeMeal 3s forwards;
          animation: reduceSizeMeal 3s forwards;
}
body .menu .menuMeal .mealCard:hover .mealDescription {
  -webkit-animation: reduceSizeMeal 3s forwards;
          animation: reduceSizeMeal 3s forwards;
}
body .menu .menuMeal .mealCard:hover .price {
  -webkit-animation: priceAnimation 3s forwards;
          animation: priceAnimation 3s forwards;
}
body .menu .menuMeal .mealCard:hover .animationMeal {
  -webkit-animation: addMenu 3s forwards;
          animation: addMenu 3s forwards;
}
body .menu .menuMeal .mealCard:hover .animationMeal .check {
  -webkit-animation: spin 3s forwards;
          animation: spin 3s forwards;
}
body .button {
  margin: 40px 0px 40px 0;
  justify-content: center;
  display: flex;
}
body .button .commandButton {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  height: 50px;
  width: 50%;
  font-size: 20px;
  border: 0px;
  color: white;
}

@media only screen and (min-width: 992px) {
  body {
    background-color: white;
    height: 100%;
    position: relative;
  }
  body .image {
    display: flex;
    height: 400px;
  }
  body .image .imgRestaurantMenu {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .menu .menuAlignement {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  body .menu .menuAlignement .entrees {
    width: 33%;
  }
  body .menu .menuAlignement .plats {
    width: 33%;
  }
  body .menu .menuAlignement .desserts {
    width: 33%;
  }
  body .menu .menuAlignement .menuMeal .mealCard .mealName {
    font-size: 20px;
  }
  body .menu .menuAlignement .menuMeal .mealCard .mealDescription {
    font-size: 17px;
  }
  body .menu .menuAlignement .menuMeal .mealCard .price {
    font-size: 20px;
  }
  body .button {
    padding-top: 50px;
  }
}
@-webkit-keyframes addMenu {
  from {
    background-color: #99E2D0;
    width: 0px;
    visibility: hidden;
  }
  to {
    background-color: #99E2D0;
    width: 15%;
    height: 100%;
    visibility: visible;
  }
}
@keyframes addMenu {
  from {
    background-color: #99E2D0;
    width: 0px;
    visibility: hidden;
  }
  to {
    background-color: #99E2D0;
    width: 15%;
    height: 100%;
    visibility: visible;
  }
}
@-webkit-keyframes removeMenu {
  from {
    background-color: #99E2D0;
    width: 15%;
    height: 100%;
    visibility: visible;
  }
  to {
    background-color: #99E2D0;
    width: 0px;
    visibility: hidden;
  }
}
@keyframes removeMenu {
  from {
    background-color: #99E2D0;
    width: 15%;
    height: 100%;
    visibility: visible;
  }
  to {
    background-color: #99E2D0;
    width: 0px;
    visibility: hidden;
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes priceAnimation {
  from {
    right: 5%;
  }
  to {
    right: 20%;
  }
}
@keyframes priceAnimation {
  from {
    right: 5%;
  }
  to {
    right: 20%;
  }
}
@-webkit-keyframes priceAnimationReverted {
  from {
    right: 20%;
  }
  to {
    right: 5%;
  }
}
@keyframes priceAnimationReverted {
  from {
    right: 20%;
  }
  to {
    right: 5%;
  }
}
@-webkit-keyframes reduceSizeMeal {
  from {
    width: 100%;
  }
  to {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@keyframes reduceSizeMeal {
  from {
    width: 100%;
  }
  to {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@-webkit-keyframes cascade {
  0% {
    padding-top: 20px;
    opacity: 0;
  }
  100% {
    padding-top: 10px;
    opacity: 1;
  }
}
@keyframes cascade {
  0% {
    padding-top: 20px;
    opacity: 0;
  }
  100% {
    padding-top: 10px;
    opacity: 1;
  }
}
.menuMeal div:nth-child(1n) {
  -webkit-animation: cascade 2s forwards;
          animation: cascade 2s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.menuMeal div:nth-child(2n) {
  -webkit-animation: cascade 2s forwards;
          animation: cascade 2s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.menuMeal div:nth-child(3n) {
  -webkit-animation: cascade 2s forwards;
          animation: cascade 2s forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.menuMeal div:nth-child(4n) {
  -webkit-animation: cascade 2s forwards;
          animation: cascade 2s forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}/*# sourceMappingURL=styleMenu.css.map */